<div class="login-signup">
	<div class="head-content clearfix">
		<div class="feature-img">
			<img src="app/assets/images/avatar.png" title="My Courses">
		</div>
		<h1 class="title">Login</h1>
	</div>
	<div class="body-content">

		<form *ngIf="!isLogged" #loginForm = "ngForm" (ngSubmit)="login(loginForm.value)">
			
			<div class="notify" [ngClass]="{ 'active': isError }">{{notify}}</div>

			<div class="input" inputText>
				<label for="username">
					Username
					<span class="required">*</span>
				</label>
				<input type="text" id="username" name="username" ngModel>
			</div>

			<div class="input" inputText>
				<label for="password">
					Password
					<span class="required">*</span>
				</label>
				<input type="password" id="password" name="password" ngModel>
			</div>

			<div class="action">
				<button class="button" type="submit">Login</button>
				<p>
					<span>Don't have an account? </span>
					<a [routerLink]="['/sign-up']">Sign Up now!</a>	
				</p>
			</div>
		</form>

		<div *ngIf="isLogged">
			<p class="link">{{message}}</p>
			<br>
			<button class="button" (click)="logout()">Logout</button>
		</div>
	</div>
</div>