<div class="page">
	<div class="head-content clearfix">
		<h1 class="title">{{title}}</h1>

		<div class="action">
			<a class="button" (click)="createOrModify()">Save</a>
			<a class="button" (click)="createOrModify(true)">Save And Continue</a>
		</div>
	</div>
	<div class="body-content">

		<form>
			
			<div class="notify" [ngClass]="{ 'active': isError }">{{notify}}</div>
			<div class="notify success" [ngClass]="{'active': isDone}">Saved!</div>

			<ul class="tabs clearfix">
				<li [ngClass]="{'active': tab === 'general'}" (click)="changeTab('general')">General</li>
				<li [ngClass]="{'active': tab === 'subjects'}" (click)="changeTab('subjects')">Subjects</li>
				<!-- <li (click)="changeTab('addresses')">Addresses</li> -->
			</ul>

			
			<div class="tab-content" [ngClass]="{'show': tab === 'general'}">
				<div class="input">
					<label for="student_number">
						Student Number
						<span class="required">*</span>
					</label>
					<input type="text" id="student_number" name="student_number" [(ngModel)]="studentItem.student_number">
				</div>

				<div class="col2">

					<div class="input">
						<label for="first_name">
							First Name
							<span class="required">*</span>
						</label>
						<input type="text" id="first_name" name="first_name" [(ngModel)]="studentItem.first_name">
					</div>

					<div class="input">
						<label for="last_name">
							Last Name
							<span class="required">*</span>
						</label>
						<input type="text" id="last_name" name="last_name" [(ngModel)]="studentItem.last_name">
					</div>

				</div>

				<div class="col2" *ngIf="!studentItem._id">

					<div class="input">
						<label for="password">
							Password
							<span class="required">*</span>
						</label>
						<input type="password" id="password" name="password" [(ngModel)]="studentItem.password">
					</div>

					<div class="input">
						<label for="confirm_password">
							Confirm Password
							<span class="required">*</span>
						</label>
						<input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="studentItem.confirm_password">
					</div>

				</div>

				<div class="col2">
					<div class="input">
						<label for="email">
							Email
							<span class="required">*</span>
						</label>
						<input type="text" id="email" name="email" [(ngModel)]="studentItem.email">
					</div>

					<div class="input">
						<label for="age">
							Age
						</label>
						<select [(ngModel)]="studentItem.age" [ngModelOptions]="{standalone: true}">
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
						</select>
					</div>
				</div>

				<div class="col2">
					<div class="input">
						<label for="class_id">
							Class
						</label>
						<select [(ngModel)]="studentItem.class_id" [ngModelOptions]="{standalone: true}">
							<option *ngFor="let _class of classes" [value]="_class._id">{{_class.name}}</option>
						</select>
					</div>
					<div class="input">
						<label for="faculty">
							Faculty
						</label>
						<select [(ngModel)]="studentItem.faculty" [ngModelOptions]="{standalone: true}">
							<option value="it">Công Nghệ Thông Tin</option>
						</select>
					</div>
				</div>

				<div class="col2">
					<div class="input">
						<label for="marjor">
							Marjor
						</label>
						<select [(ngModel)]="studentItem.marjor" [ngModelOptions]="{standalone: true}">
							<option value="knpm">Kỹ Nghệ Phần Mềm</option>
							<option value="khmt">Khoa Học Máy Tính</option>
						</select>
					</div>
				</div>

				<div class="input">
					<label for="status">
						Status
					</label>
					<select [(ngModel)]="studentItem.status" [ngModelOptions]="{standalone: true}">
						<option value="studying">Studying</option>
						<option value="leaved">Leaved</option>
					</select>
				</div>
			</div>

			<div class="tab-content" [ngClass]="{'show': tab === 'subjects'}">
				<p>Subjects</p>
			</div>

		</form>
	</div>
</div>