<div class="page">
	<div class="head-content clearfix">
		<h1 class="title">Management Subjects</h1>
		<div class="action">
			<a class="button" [routerLink]="['/admin/subjects/create']">+ Add Subject</a>
		</div>
	</div>
	<div class="body-content">

		<table>
			<tr>
				<th (click)="orderBy('subject_number')">ID. <i class="fa fa-sort" aria-hidden="true"></i></th>
				<th (click)="orderBy('name')">Name <i class="fa fa-sort" aria-hidden="true"></i></th>
				<th>Description</th>
				<th (click)="orderBy('status')">Status <i class="fa fa-sort" aria-hidden="true"></i></th>
				<th (click)="orderBy('started_year')">Str-End Years <i class="fa fa-sort" aria-hidden="true"></i></th>
				<th (click)="orderBy('date_modified')">Last Modified <i class="fa fa-sort" aria-hidden="true"></i></th>
				<th>Action</th>
			</tr>
			<tr *ngFor="let item of subjects | SortBy: nameOrderBy:reverse">
				<td>{{item.subject_number}}</td>
				<td>{{item.name}}</td>
				<td>
					<div class="description">
						{{item.description}}
					</div>
				</td>
				<td>
					<span class="status">{{item.status}}</span>
				</td>
				<td>
					<span>{{item.started_year}}</span>
					<span>&nbsp;-&nbsp;</span>
					<span>{{item.ended_year}}</span>
				</td>
				<td dateFormat>{{item.date_modified}}</td>
				<td>
					<a [routerLink]="['/admin/subjects', 'edit', item._id]" >
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						Edit
					</a>
				</td>
			</tr>
		</table>

	</div>
</div>