<div class="page">
	<div class="head-content clearfix">
		<h1 class="title">{{title}}</h1>

		<div class="action">
			<a class="button" *ngIf="classId" (click)="delete()">Delete</a>
			<a class="button" (click)="createOrModify()">Save</a>
			<a class="button" (click)="createOrModify(true)">Save And Continue</a>
		</div>
	</div>
	<div class="body-content">

		<form>
			
			<div class="notify" [ngClass]="{ 'active': isError }">{{notify}}</div>
			<div class="notify success" [ngClass]="{'active': isDone}">Saved!</div>

			<div class="input">
				<label for="class_number">
					Class Number
					<span class="required">*</span>
				</label>
				<input type="text" id="class_number" name="class_number" [(ngModel)]="classItem.class_number">
			</div>

			<div class="input">
				<label for="name">
					Name
					<span class="required">*</span>
				</label>
				<input type="text" id="name" name="name" [(ngModel)]="classItem.name">
			</div>

			<div class="col2">
				<div class="input">
					<label for="started_year">
						Started Year
						<span class="required">*</span>
					</label>
					<select [(ngModel)]="classItem.started_year" [ngModelOptions]="{standalone: true}">
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
					</select>
				</div>
				<div class="input">
					<label for="ended_year">
						Ended Year
						<span class="required">*</span>
					</label>
					<select [(ngModel)]="classItem.ended_year" [ngModelOptions]="{standalone: true}">
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
					</select>
				</div>
			</div>

			<!-- TODO: select -->
			<div class="input">
				<label for="homeroom_teacher">
					Homeroom Teacher
					<span class="required">*</span>
				</label>
				<select [(ngModel)]="classItem.homeroom_teacher" [ngModelOptions]="{standalone: true}">
					<option *ngFor="let teacher of teachers" [value]="teacher._id">{{teacher.first_name}} {{teacher.last_name}}</option>
				</select>
			</div>

			<div class="input">
				<label for="description">
					Description
				</label>
				<textarea rows="5" id="description" name="description" [(ngModel)]="classItem.description"></textarea>
			</div>

			<div class="input">
				<label for="status">
					Status
					<span class="required">*</span>
				</label>
				<select [(ngModel)]="classItem.status" [ngModelOptions]="{standalone: true}">
					<option value="opening">Opening</option>
					<option value="closed">Closed</option>
				</select>
			</div>
		</form>
	</div>
</div>